<div class="fixed-top">
	<nav class="navbar justify-content-end">
		<button class="navbar-toggler red p-lg-4 rounded-lg" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="text-white">Asistencia especializada</span>
		</button>
	</nav>
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-light p-4">
			<h5 class="text-white h4">Asistencia Especializada</h5>
			<a href="#">Abogados (Entidad a cargo: Legal Assistance Latinoamérica)</a>
			<a href="#">Administración de Empresas</a>
    		<ul>
    			<li>Derecho Administrativo</li>
				<li>Derecho Ambiental</li>
				<li>Derecho Civil</li>
				<li>Derecho Constitucional</li>
				<li>Derecho Laboral</li>
				<li>Derecho mercantil</li>
				<li>Derecho Penal </li>
				<li>Derecho Tributario</li>
				<li>otros</li>
    		</ul>
    		<a href="#">Antropología</a>
    		<a href="#">Auditoría</a>
    		<a href="#">Biología</a>
    		<a href="#">Comunicaciones</a>
    		<a href="#">Económicas</a>
    		<a href="#">Finanzas</a>
    		<a href="#">Ingeniería:</a>
    		<ul>
    			<li>Alimentaria</li>
    			<li>Ambiental (Entidad a cargo: Gruntone)</li>
    			<li>Agronómica</li>
    			<li>Civil</li>
    			<li>Eléctrica</li>
    			<li>Electrónica</li>
    			<li>Mecatrónica </li>
    			<li>Petróleo </li>
    		</ul>
    		<a href="#">Medicina </a>
    		<a href="#">Mercadotecnia y Publicidad</a>
    		<a href="#">Pedagogía</a>
    		<a href="#">Psicología</a>
    		<a href="#">Relaciones Internacionales</a>
    		<a href="#">SociologíaS</a>
		</div>
	</div>
</div>
<div class="contaner-fluid">
    <div class="row full-height justify-content-center align-items-center">
        <div class="col-xs-12 col-md-4 light-blue radius--25">
            <div class="">
				<div class="main-content">
					<h1 class="text-center text-white">Titulo</h1>
					<p class="text-justify text-white-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, libero odio? Reprehenderit dolore dicta dolor consequatur dolores, modi quaerat praesentium quibusdam quod laboriosam quo facere blanditiis nobis. Eum, enim earum.</p>
				</div>
				<div id="logo">
				</div>
            </div>
        </div>
    </div>
</div>