<div class="dropdown ml-4">
  <button class="btn radius--btn red text-white p-3 bold dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Asistencia Especializada
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Abogados (Entidad a cargo: Legal Assistance Latinoamérica)</a>
    <a class="dropdown-item" href="#">Administración de Empresas</a>
	<div class="dropdown-divider"></div>
    <a class="dropdown-item bold" href="#">Derecho:</a>
    <a class="dropdown-item" href="#">Derecho Administrativo</a>
    <a class="dropdown-item" href="#">Derecho Ambiental</a>
    <a class="dropdown-item" href="#">Derecho Civil</a>
    <a class="dropdown-item" href="#">Derecho Constitucional</a>
    <a class="dropdown-item" href="#">Derecho Laboral</a>
    <a class="dropdown-item" href="#">Derecho mercantil</a>
    <a class="dropdown-item" href="#">Derecho Penal</a>
    <a class="dropdown-item" href="#">Derecho Tributario</a>
    <a class="dropdown-item" href="#">otros</a>
	<div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Antropología</a>
    <a class="dropdown-item" href="#">Auditoría</a>
    <a class="dropdown-item" href="#">Biología</a>
    <a class="dropdown-item" href="#">Comunicaciones</a>
    <a class="dropdown-item" href="#">Económicas</a>
    <a class="dropdown-item" href="#">Finanzas</a>
	<div class="dropdown-divider"></div>
    <a class="dropdown-item bold" href="#">Ingeniería:</a>
    <a class="dropdown-item" href="#">Alimentaria</a>
    <a class="dropdown-item" href="#">Ambiental (Entidad a cargo: Gruntone)</a>
    <a class="dropdown-item" href="#">Agronómica</a>
    <a class="dropdown-item" href="#">Civil</a>
    <a class="dropdown-item" href="#">Eléctrica</a>
    <a class="dropdown-item" href="#">Mecatrónica</a>
    <a class="dropdown-item" href="#">Petróleo</a>
	<div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Medicina</a>
    <a class="dropdown-item" href="#">Mercadotecnia y Publicidad</a>
    <a class="dropdown-item" href="#">Pedagogía</a>
    <a class="dropdown-item" href="#">Psicología</a>
    <a class="dropdown-item" href="#">Relaciones Internacionales</a>
    <a class="dropdown-item" href="#">Sociología</a>
  </div>
</div>

<div class="contaner-fluid background-cover">
    <div class="row full-height justify-content-center align-items-center">
        <div class="col-xs-12 col-md-4 light-blue radius--25">
            <div class="">
				<div class="main-content">
					<h1 class="text-center text-white">Professional Support</h1>
					<p class="text-justify text-white-50">Desde 2017, Somos un equipo multidisciplinario de profesionales de todas las áreas y grados académicos enfocados en el coaching empresarial a nivel iberoamericano. 
                    Ofrecemos herramientas y aporte de profesionales para que su empresa prospere con eficiencia y eficacia.
                    </p>
				</div>
				<div id="logo">
				</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-12">
            <p class="text-center text-white top-space">           
                México | Guatemala | Costa Rica | Colombia | Perú
            </p>
        </div>
    </div>
</div>