<div class="container h-100">
    <div class="row justify-content-center h-100 card">
        <h1 class="text-center top-space">Contáctanos</h1>
        <div class="col-xs-12 col-sm-10 col-md-10 align-self-center mt-3">
            <%= render 'form', contact: @contact, class: 'mb-3' %>
            <%= link_to "Volver al inicio", root_path , class: "" %>
        </div>
    </div>
</div>

