<div class="container">
  <div class="row justify-content-center h-100 card">
    <div class="col-xs-12 col-sm-10 col-md-8 align-self-center">
      <h1>Gracias por contactarse con nosotros</h1>
      <p>En breve nos comunicaremos con usted</p>
      <%= link_to 'Volver al inicio', root_path, class: 'btn btn-outline-success' %>
    </div>
  </div>
</div>

