@import "~bootstrap/scss/bootstrap.scss";

html, body{
    margin: 0px;
    padding: 0px;
    background-color: #D9D9D9;
}

a{
    display: block;  
}

.top-space{
    margin-top: 1em;
}

#logo{
    position: relative;
    height: 300px;
    width: 400px;
    background-color: yellow; 
    border-radius: 50%;
    top: -100px;
    left: 370px;
    background-image: url('~logo.jpeg');
    background-position: center;
    background-size: cover;
}

.light-blue{
    background-color: #27ACDC;
}

.red{
    background-color: #DE264C;
}

.main-content{
    padding: 40px;
}

.radius--25{
    border-radius: 25px;
}

.radius--btn{
    border-radius: 0 0 10px 10px;
}

.full-height{
    height: 100vh;
}

.big-text{
    font-size: 2em;
}

.medium-text{
    font-size: 1.5em;
}

.small-text{
    font-size: 1em;
}

.bold{
    font-weight: bold;
}

@media only screen and (max-width: 960px){
    #logo{
        position: initial;
        height: 300px;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        background-color: yellow; 
        background-image: url('~logo.jpeg');
        background-position: center;
        background-size: cover;
        border-radius: 0px;
        display: block;
    }
}
